.HomeWork02_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px;
    gap: 30px;
  }
  
  .page-title {
    color: brown;
    font-size: 30px;
    margin: 50px 200px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 6px;
    padding: 40px;
    margin: 50px;
  }